*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.selector{
    background-color: white;
    width: 25%;
    display:flex;
    flex-direction: column;
    margin-top: 80px;
    text-align: left;
    /* padding: 2%; */
    border-radius: 5px;
}

h3{
    margin-top: 10%;
    margin-bottom: 5%;
    letter-spacing: 1px;
    font-weight: 700;

}

.medioPago img{
    width: 8%;
    margin-right: 3%;
}

.medioPago{
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    border-top: solid 1px rgb(170, 170, 170);
    display:inline-block;
    padding-left: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
   
}

.medioPago span{
    text-align: center;
}

.containButton{
    display: flex;
    margin: 0;
    
}

.next{
    background-color: rgb(52, 121, 250);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 0.8em;
    
}
.next img{
    width: 3%;
    display: inline-block;
    margin: 0;
}